body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/hexellence.png");
	font-size: 16px;
	font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

#mainButton {
    text-decoration: none;
    color: #404040;
}

#title
{
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 5px;
}

#logo{
	color:#a5be00;
}

#subtitle {
    font-weight: 400;
    letter-spacing: 3px;
}

.userInput {
    font-size: 1.2em;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 3px !important;
    box-sizing: border-box;
}

.inputIcon {
    font-size: 1.2em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #a5be00;
}

.userInput:focus {
    outline: none !important;
    border: 2px solid #b3b3b3;
    box-shadow: 0 0 10px #b3b3b3;
}

.signButton {
    background-color: #a5be00;
    letter-spacing: 1px;
    border-style: none;
}

.signButton:hover {
    background-color: #a14da0;
}

.footer {
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
}

.mainmenu{
	font-weight: 400;
    letter-spacing: 3px;
	color:#a5be00;
}

.mainmenu span {
	color: black;
}

a
{
	text-decoration: none;
	color: #a5be00;	
}

a:hover
{
	color:  #a14da0;
}

.square {
    text-align: center;
    background: white;
    border-radius: 10px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

/*#container
{
	background-color: white;
	width: 960px;
	padding: 20px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}*/

/*#container1
{
	background-color: white;
	width: 960px;
	padding: 20px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}*/




/*input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #438c6f;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}*/

/*input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #327b5e;
	background-color: #e9f3e9;
	color: #428c42;
}*/

/*.info
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
	font-size: 15px;
}*/

/*.icon
{
	float: left;
	text-align: center;
	background-color: #438c6f;
	width: 40px;
	height: 47px;
	border-radius: 5px;
	padding-top:10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-left: 310px;
}*/

/*.icon1
{
	float: left;
	text-align: center;
	background-color: #438c6f;
	width: 40px;
	height: 47px;
	border-radius: 5px;
	padding-top:10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 30px;
	margin-left: 360px;
}

input[type=submit]
{
	width: 200px;
	height: 47px;
	background-color: #efefef;
	font-size:20px;
	color: black;
	margin-top: 30px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	text-align: center;
}*/


/*
.text
{
	font-size: 15px;
	color: black;
	text-align: center;
	margin-top: 15px;
}

.rectangle
{
	width: 100%;
	height: 40%;
	margin: 0;
	text-align: center;
}

.tile1
{
	margin-left: 145px;
	margin-right: 145px;
	margin-top: 60px;
	width: 180px;
	height: 90px;
	background-color: #438c6f;
	float: left;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
}

.topnav
{ 
	width: 100%;
	background-color: #438c6f;
	text-align: center;
	border-top: 1px solid #549d7f;
	border-bottom: 1px solid #549d7f;
	padding: 0;
	margin-left: 0;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 15px;
	height: 30px;
	line-height: 200%;
	display: inline-block;

}

ul a
{
	color: black;
	text-decoration: none;
	display: block;
}

ul > li
{
	float: left;
	width: 186px;
	height: 30px;
	border-right: 1px dashed #751b1b;
}

ul > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ul > li:hover
{
	background-color: #327b5e;
}

ul > li:hover > a
{
	color: #105a3d;
}

#section1
{
	width: 60%;
	height: 360px;
	margin-left: 200px;
	margin-top:10px;
	background-color: #e9f3e9;
	color: black;
	text-align: center;
}

.col
{
	display: inline-block;
	margin: 0 10px;
	font-size: 15px;
	color: black;
}

.row
{
	margin-left: 40px;
	margin-top: 40px;
}

.row1
{
	width: 500px;
	margin-left: 400px;

}

#comment
{
	width: 80%;
}

input[type=number],
input[type=date]
{
	width: 120px;
	background-color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
	margin-top:10px;
}

#category
{
	width: 120px;
	background-color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
	margin-top:10px;
	text-align: center;
}

#payment
{
	width: 120px;
	background-color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
	margin-top:10px;
		text-align: center;
}

.row1 input[type=submit],
input[type=reset]
{
	width: 100px;
	height: 20px;
	background-color: #438c6f;
	font-size: 15px;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	text-align: center;
}

.dropbtn {
  background-color: #438c6f;
  color: black;
  padding: 10px;
  font-size: 15px;
  border: none;
    min-width: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width:100%;
  height:30px;
  margin-top:10px;

}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 15px;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover
 {
	background-color: #327b5e;
	color: #105a3d; 
}

.dropdown:hover .dropdown-content 
{
	display: block;
}

.dropdown:hover .dropbtn 
{
	background-color: #327b5e;
	color: #105a3d;
}

.table
{
	margin-top:50px;
	float: left;
	width:46%;
	text-align:justify;
	display: block;
	overflow-x: auto;
    border-spacing: 0;
}

th,
td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
}*/