body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/hexellence.png");
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	width: 100%;
}

.logo
{
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 5px;
}

#container
{
	background-color: white;
	width: 960px;
	padding: 20px;
	height: 410px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

header
{
	padding: 20px;
	font-size: 20px;
	font-weight: 400;
	color: black;
	text-align: center;
	letter-spacing: 3px;
}

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #438c6f;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #327b5e;
	background-color: #e9f3e9;
	color: #428c42;
}

.info
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
	font-size: 15px;
}

.icon
{
	float: left;
	text-align: center;
	background-color: #438c6f;
	width: 40px;
	height: 47px;
	border-radius: 5px;
	padding-top:10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
	margin-left: 310px;
}

.icon1
{
	float: left;
	text-align: center;
	background-color: #438c6f;
	width: 40px;
	height: 47px;
	border-radius: 5px;
	padding-top:10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 30px;
	margin-left: 360px;
}

input[type=submit]
{
	width: 200px;
	height: 47px;
	background-color: #efefef;
	font-size:20px;
	color: black;
	margin-top: 30px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	text-align: center;
}

a
{
	color:  black;
	text-decoration: none;
}

a:hover
{
	color: #327b5e;
}

.text
{
	font-size: 15px;
	color: black;
	text-align: center;
	margin-top: 15px;
}

.rectangle
{
	width: 100%;
	height: 40%;
	margin: 0;
	text-align: center;
}

.tile1
{
	margin-left: 145px;
	margin-right: 145px;
	margin-top: 60px;
	width: 180px;
	height: 90px;
	background-color: #438c6f;
	float: left;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
}

.topnav
{ 
	width: 100%;
	background-color: #438c6f;
	text-align: center;
	border-top: 1px solid #549d7f;
	border-bottom: 1px solid #549d7f;
	padding: 0;
	margin-left: 0;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 15px;
	height: 30px;
	line-height: 200%;
	display: inline-block;

}

ul a
{
	color: black;
	text-decoration: none;
	display: block;
}

ul > li
{
	float: left;
	width: 186px;
	height: 30px;
	border-right: 1px dashed #751b1b;
}

ul > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ul > li:hover
{
	background-color: #327b5e;
}

ul > li:hover > a
{
	color: #105a3d;
}

section
{
	width: 100%;
	height: 100%px;
	background-color: #e9f3e9;
	color: black;
}

.col
{
	display: inline-block;
	margin: 0 10px;
	font-size: 15px;
	color: black;
}

.row
{
	margin: 10px;
}

#comment
{
	width: 80%;
}

input[type=number],
input[type=date]
{
	width: 120px;
	background-color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
	margin-top:10px;
}

input[type=radio]
{
	width: 50px;
	background-color: #e9f3e9;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	box-sizing: border-box;
	outline: none;
}

#payment
{
	width: 120px;
	background-color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	box-sizing: border-box;
	outline: none;
	margin-top:10px;
}

.row input[type=submit],
input[type=reset]
{
	width: 100px;
	height: 20px;
	background-color: #438c6f;
	font-size: 15px;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
	text-align: center;
	margin-left: 250px;
}

